In [1]:
import pandas as pd

In [24]:
df_ich = pd.read_table("/home/alexander/PycharmProjects/Forex/bars_row_data/ichEURUSD_i_M1_202309110015_202309152354.csv", index_col='DATE_TIME', parse_dates=True)

In [25]:
df_ich

,DATE,TIME,OPEN,HIGH,LOW,CLOSE,TICKVOL,VOL,SPREAD,tenkan,kijun,senkou_a,senkou_b,chikou
DATE_TIME,,,,,,,,,,,,,,
2023-09-11 00:15:00,2023.09.11,00:15:00,1.07113,1.07114,1.07096,1.07107,13,0,32,1.071050,1.071050,NaN,NaN,1.07160
2023-09-11 00:16:00,2023.09.11,00:16:00,1.07113,1.07113,1.07096,1.07096,7,0,35,1.071050,1.071050,NaN,NaN,1.07174
2023-09-11 00:17:00,2023.09.11,00:17:00,1.07110,1.07112,1.07110,1.07112,4,0,32,1.071050,1.071050,NaN,NaN,1.07148
2023-09-11 00:18:00,2023.09.11,00:18:00,1.07113,1.07113,1.07096,1.07098,8,0,32,1.071050,1.071050,NaN,NaN,1.07153
2023-09-11 00:19:00,2023.09.11,00:19:00,1.07112,1.07112,1.07099,1.07106,5,0,36,1.071050,1.071050,NaN,NaN,1.07140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-15 23:50:00,2023.09.15,23:50:00,1.06600,1.06607,1.06599,1.06604,82,0,17,1.066035,1.065915,1.065775,1.065895,NaN
2023-09-15 23:51:00,2023.09.15,23:51:00,1.06603,1.06616,1.06600,1.06606,31,0,14,1.066035,1.065915,1.065760,1.065895,NaN
2023-09-15 23:52:00,2023.09.15,23:52:00,1.06605,1.06614,1.06605,1.06611,6,0,14,1.066035,1.065915,1.065757,1.065895,NaN
2023-09-15 23:53:00,2023.09.15,23:53:00,1.06607,1.06607,1.06598,1.06600,181,0,31,1.066035,1.065945,1.065738,1.065895,NaN
2023-09-15 23:54:00,2023.09.15,23:54:00,1.06599,1.06613,1.06598,1.06613,58,0,19,1.066035,1.065945,1.065738,1.065885,NaN

In [34]:
df_ich["2023-09-15 15:00:00":"2023-09-15 17:00:00"].head(20)

,DATE,TIME,OPEN,HIGH,LOW,CLOSE,TICKVOL,VOL,SPREAD,tenkan,kijun,senkou_a,senkou_b,chikou
DATE_TIME,,,,,,,,,,,,,,
2023-09-15 15:00:00,2023.09.15,15:00:00,1.06539,1.06546,1.06531,1.06540,119,0,16,1.065375,1.065550,1.065610,1.065865,1.06566
2023-09-15 15:01:00,2023.09.15,15:01:00,1.06540,1.06542,1.06529,1.06536,80,0,16,1.065375,1.065550,1.065610,1.065835,1.06563
2023-09-15 15:02:00,2023.09.15,15:02:00,1.06536,1.06537,1.06524,1.06529,133,0,16,1.065375,1.065550,1.065592,1.065715,1.06569
2023-09-15 15:03:00,2023.09.15,15:03:00,1.06529,1.06540,1.06529,1.06531,76,0,16,1.065340,1.065550,1.065555,1.065715,1.06559
2023-09-15 15:04:00,2023.09.15,15:04:00,1.06531,1.06535,1.06526,1.06529,58,0,16,1.065340,1.065550,1.065538,1.065715,1.06522
2023-09-15 15:05:00,2023.09.15,15:05:00,1.06529,1.06545,1.06529,1.06543,95,0,16,1.065340,1.065550,1.065530,1.065715,1.06538
2023-09-15 15:06:00,2023.09.15,15:06:00,1.06543,1.06546,1.06535,1.06544,61,0,16,1.065350,1.065550,1.065540,1.065710,1.06529
2023-09-15 15:07:00,2023.09.15,15:07:00,1.06544,1.06573,1.06544,1.06572,98,0,16,1.065485,1.065550,1.065560,1.065685,1.06502
2023-09-15 15:08:00,2023.09.15,15:08:00,1.06573,1.06577,1.06566,1.06572,58,0,16,1.065505,1.065550,1.065610,1.065685,1.06495
2023-09-15 15:09:00,2023.09.15,15:09:00,1.06572,1.06574,1.06566,1.06569,41,0,16,1.065505,1.065530,1.065610,1.065645,1.06481
2023-09-15 15:10:00,2023.09.15,15:10:00,1.06569,1.06574,1.06567,1.06572,47,0,16,1.065505,1.065530,1.065610,1.065615,1.06478
2023-09-15 15:11:00,2023.09.15,15:11:00,1.06572,1.06574,1.06558,1.06558,68,0,16,1.065515,1.065530,1.065610,1.065580,1.06467
2023-09-15 15:12:00,2023.09.15,15:12:00,1.06558,1.06561,1.06540,1.06541,56,0,16,1.065515,1.065495,1.065620,1.065580,1.06470
2023-09-15 15:13:00,2023.09.15,15:13:00,1.06541,1.06552,1.06537,1.06547,84,0,16,1.065530,1.065495,1.065632,1.065580,1.06454
2023-09-15 15:14:00,2023.09.15,15:14:00,1.06547,1.06553,1.06546,1.06549,56,0,16,1.065560,1.065495,1.065645,1.065580,1.06452
2023-09-15 15:15:00,2023.09.15,15:15:00,1.06549,1.06554,1.06535,1.06552,116,0,16,1.065560,1.065495,1.065652,1.065580,1.06449
2023-09-15 15:16:00,2023.09.15,15:16:00,1.06552,1.06558,1.06545,1.06557,142,0,16,1.065560,1.065495,1.065575,1.065575,1.06477
2023-09-15 15:17:00,2023.09.15,15:17:00,1.06558,1.06568,1.06552,1.06566,97,0,16,1.065545,1.065495,1.065560,1.065560,1.06487
2023-09-15 15:18:00,2023.09.15,15:18:00,1.06566,1.06573,1.06560,1.06572,78,0,16,1.065545,1.065495,1.065550,1.065560,1.06481
2023-09-15 15:19:00,2023.09.15,15:19:00,1.06572,1.06593,1.06571,1.06588,70,0,16,1.065640,1.065575,1.065550,1.065560,1.06501